$main-button-color: #403432;
$cart-button-color: #5b3a32;

.button {
    width: 118px;
    height: 48px;
    color: white;
    cursor: pointer;
    border: none;
    &:hover {
        opacity: 0.8;
    }
    &:disabled {
        opacity: 0.4;
        cursor: default;
        
    }
}
.button_main {
    background-color: $main-button-color;
}
.button_cart {
    background-color: $cart-button-color;
}
